<div class="signup-container">
  <div class="mb-3">
    <h2>Log In</h2>
  </div>
  <form action="/login" method="POST">

    <div class="input-group mb-3">
      <span class="input-group-text"><i class="bi bi-envelope"></i></span>
      <input type="email" name="email" class="form-control" placeholder="Your useremail" />
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text"><i class="bi bi-asterisk"></i></span>
      <input type="password" name="password" class="form-control" placeholder="Your password" />
    </div>

    <div class="mb-3"><button type="submit" class="btn btn-lg">Continue</button></div>

    {{#if errorMessage}}
      <div class="mb-3">
        <div class="alert alert-danger">{{errorMessage}}</div>
      </div>
    {{/if}}
  </form>
</div>