<div id="form">
  <div class="mb-3">
    <h2>Sign Up</h2>
  </div>
  <form action="/auth/signup" method="POST">

    <div class="input-group mb-3">
      <span class="input-group-text"><i class="bi bi-person"></i></span>
      <input type="text" name="username" class="form-control" placeholder="Your name" />
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text"><i class="bi bi-envelope"></i></span>
      <input type="email" name="email" class="form-control" placeholder="Your email" />
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text"><i class="bi bi-asterisk"></i></span>
      <input type="password" name="password" class="form-control" placeholder="Your password" />
    </div>

    <div class="mb-3"><button type="submit" class="btn btn-lg">Continue</button></div>

    {{#if errorMessage}}
      <div class="mb-3">
        <p class="error">{{errorMessage}}</p>
      </div>
    {{/if}}
  </form>
</div>