<header class="mb-3 p-3">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <img src="images/peach.png" alt="peach logo" class="logo-peach">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-dark">My Peatches</a></li>
        <li><a href="/{{session.user.username}}" class="nav-link px-2 link-secondary">Dashboard</a></li>
      </ul>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="{{session.user.profile.userpicPath}}" alt="{{session.user.username}}'' userpic" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">New Peach</a></li>
          {{!-- <li><a class="dropdown-item" href="#">Settings</a></li> --}}
          <li><a class="dropdown-item" href="/{{session.user.username}}/profile">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="/logout">Log out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>