<h2>Invite other people</h2>

<form action="/peatches/{{peatchId}}/invite" method="post">
  <div class="mb-3 input-group">
    <input name="username" type="text" class="form-control" placeholder="username" />
    <button type="submit" class="btn btn-outline-success">Invite</button>
  </div>
</form>

{{#if errorMessage}}
  {{>_flashError}}
{{/if}}