<h2>Invite other people</h2>

<form action="/peatches/{{peatchId}}/invite" method="post">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input name="username" type="text" class="form-control">
  </div>
  <div class="mb-3 float-end">
    <button type="submit" class="btn btn-outline-success">Invite</button>
  </div>
</form>