<h1>New Peatch</h1>

<form action="/peatches/new" method="post">

  <div class="mb-3">
    <label for="topic" class="form-label">Topic</label>
    <input name="topic" type="text" class="form-control" id="topic" placeholder="What is the topic for this peatch?" />
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea name="description" class="form-control" id="description" rows="3"></textarea>
  </div>

  <div class="mb-3 float-end">
    <button type="submit" class="btn btn-outline-secondary">Create</button>
  </div>
</form>