<h1 class="display-3 mb-4">Welcome</h1>
<p class="lead">
  Find, Share, Pitch your ideas.
</p>
<p>
  <img src="./images/peach.png" alt="Peach" class="img-hero" />
</p>
<div>
  <a href="/auth/signup" class="btn btn-lg btn-peach">More...</a>
</div>