<form action="/{{peatchId}}/add" method="post" class="add-proposal-component-form">
  <div class="mb-3 input-group">
    <input type="text" name="proposal" class="form-control" placeholder="Enter your proposal">
    <button type="submit" class="btn btn-outline-success float-end">Add</button>
  </div>
</form>