<div class="card mb-4">
  <div class="card-header text-muted">
    by:
    <a href="#" class="text-dark fs-6">{{owner.username}}</a>
  </div>
  <div class="card-body">
    <h5 class="cart-title">
      {{topic}}
    </h5>
    <div class="card-text text-muted">
      <p>{{description}}</p>
    </div>
  </div>
  <div class="card-footer">
    <div class="btn-group">
      <a href="/peatches/{{_id}}" class="btn btn-sm btn-outline-success"><i class="bi bi-caret-right-square"></i></a>
      <a href="#" class="btn btn-sm btn-outline-success"><i class="bi bi-pen"></i></a>
      <a href="#" class="btn btn-sm btn-outline-secondary"><i class="bi bi-trash3"></i></a>
    </div>
  </div>
</div>