@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

html {
  /* Colors */
  --color-main-dark: rgb(90, 30, 43);
}
body {
  height: 100%;
  font: 16px "Space Grotesk", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/** COVER */
.cover-body {
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.1);
  background: linear-gradient(45deg, rgba(63, 21, 30, 0.925), rgba(255, 194, 108, 0.938));
  text-align: center;
}

.cover-container {
  max-width: 80%;
}

.signup-container {
  /* width: 24rem; */
}

.hero-container {
  color: #fff;
}

.nav-masthead .nav-link {
  color: var(--color-main-dark);
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.btn-peach {
  border: none;
  background: linear-gradient(90deg, rgba(90, 30, 43, 0.925), rgba(255, 170, 52, 0.938));
  color: #fff;
}

.link-signup {
  border: 0.15rem solid rgba(92, 31, 44, 0.137);
  border-radius: 5px;
  padding: 0.15rem;
}

.active .link-signup {
  border: none;
}

.img-hero {
  width: 50%;
}

/** DASHBOARD */
.logo-peach {
  width: 155px;
}

.navbar-dashboard {
  /* background: linear-gradient(90deg, rgba(63, 21, 30, 0.925),  rgba(255, 194, 108, 0.938)); */
  background-color: var(--color-main-dark);
  box-shadow: 0 2px 5px gray;
}

.navbar-dashboard a {
  color: rgba(255, 255, 255, 0.801);
  font-size: 1.2rem;
  font-weight: 500;
}

.navbar-dashboard a:hover {
  color: #fff;
}

.dropdown a {
  color: #000;
}

.userpic-profile {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 50%;
}

.userpic-circle {
  border: 1px solid aliceblue;
  border-radius: 50%;
  
  width: 30px;
  height: 30px;
}

.memberslist-member-chip {
  border-radius: 5px;
  box-shadow: 0 1px 2px gray;
}

@media screen and (min-width: 320px) and (max-width: 989px) {
  .logo-peach {
    display: none;
  }
}

@media screen and (min-width: 990px) {
  .logo-peach {
    width: 55px;
  }
}

/** Proposal List */
.add-proposal-component-form {
  /* width: 50%; */
}

.card-component {
  padding: 0.5rem;
  box-shadow: 1px 2px 2px 1px lightgray;
  border-radius: 5px;
}

.proposal-list-item {
  border-radius: 5px;
  background-color: rgb(255, 225, 225);
  box-shadow: 0 2px 2px lightgray;
}

.proposal-list-item:hover {
  background-color: rgba(90, 30, 43, 0.24);
}

/** FOOTER */
.basement {
  color: #5a1e2b;
}


/** UTILITY */
.invisible {
  display: none;
}